@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$beige: #EFD67F;
$blue: #5A95B6;
$black: #1E1E1E;

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.fullContainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: rgb(100, 186, 221);
    background: linear-gradient(0deg, rgb(24, 67, 84) 0%, rgb(27, 100, 152) 100%);
}

.container {
    width: 350px;
    height: 70vh;
    background-color: $beige;
    padding: 4rem;
    margin: auto;

    h1 {
        font-family: 'Indie Flower';
        font-weight: 300;
        text-decoration: underline;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 3rem;
    }

    table {
        width: 100%;
        min-height: 400px;
        border-collapse: separate;

        tbody {
            display: flex;
            flex-direction: column;

            tr {
                // padding: 0.5rem 0;
                border-spacing: 0;
                animation: fadein 0.15s ease-in-out 0.2s 1 normal both;

                td {
                    width: 100%;
                    font-family: 'Inter';
                }

                td:first-of-type {
                    padding: 0.5rem 0;
                    border-right: 2px solid $black;
                    text-decoration: underline;
                }

                td:last-of-type {
                    padding: 0.3rem 0.5rem;
                    margin: 0.3rem;
                    cursor: pointer;
                    border-radius: 0.3rem;
                    transition: 400ms;
                }

                td:last-of-type:hover {
                    background-color: #e3c969;
                }
            }
        }
    }

    .newItemContainer {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        input:first-of-type {
            background-color: $beige;
            outline: 0;
            border: 2px solid $black;
            border-radius: 0.3rem;
            padding: 0.3rem;
            width: 100%;
        }

        input:last-of-type {
            background-color: $beige;
            outline: 0;
            border: 2px solid $black;
            border-radius: 0.3rem;
            padding: 0.3rem;
            cursor: pointer;
        }
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}